---
import { Image } from "astro:assets";

interface Props {
  class: string;
  src: string;
  alt: string;
  slideDirection: "left" | "right";
  size: number;
}

const { src, slideDirection, class: classList, alt, size } = Astro.props;

let direction = "200px";
if (slideDirection == "left") {
  direction = "-200px";
}
---

<article
  data-slide-direction={direction}
  class:list={[
    "slide-in-card absolute pointer-events-none w-[270px] md:w-[350px] lg:w-[500px]",
    [classList],
  ]}
>
  <div class="relative rounded-3xl w-fit h-fit">
    <Image
      class="aspect-video object-cover rounded-3xl border-5 border-white object-top-left"
      src={src}
      alt={alt}
      width={size}
      height={size}
    />
    <div
      class="bg-linear-to-t from-black/90 from-5% to-transparent w-full h-full absolute bottom-0 left-0 rounded-3xl"
    >
    </div>
  </div>
</article>
